body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    background-color: #38bdf8;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
